@import "../../responsive.scss";
.layout{
    //background-color: rebeccapurple;
    height:100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    @include lg{
        // background-color: whitesmoke;
        max-width: 1280px;
    }

    @include md{
        // background-color: cornflowerblue;
        max-width: 768px;
    }
    
    @include sm{
        // background-color: coral;
        max-width: 640px;
     }

     .content{
        //background-color: rebeccapurple;
       // flex: 1;
        height: calc(100vh - 100px);
     }
}
